<h1>This is the User Homepage</h1>
<% if session[:user_id]%>
  <div id = "rightside">
    <%= link_to "Logout", sessions_logout_path %><br>
  </div>
  <div>
    This should be a profile page <br>
    what should i put here?
  </div>
<% end %>

<div id = "middleside">
  <br>
  <%= link_to "Courses", user_course_path %><br>
  <%= link_to "Subject", user_subject_path %><br>
  <%= link_to "Instructor", user_instructor_path %><br>
</div>
